<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46762369503-esib45o9ph1r0p1je4mlse6a4g229kuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46762369503-esib45o9ph1r0p1je4mlse6a4g229kuf</string>
	<key>API_KEY</key>
	<string>AIzaSyAnQ7Q22H42q-5rgC2pT8HG4h6YUcBY3Do</string>
	<key>GCM_SENDER_ID</key>
	<string>46762369503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.despesasplus</string>
	<key>PROJECT_ID</key>
	<string>financeapp-bloom</string>
	<key>STORAGE_BUCKET</key>
	<string>financeapp-bloom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46762369503:ios:af7feaeab499492fbe646a</string>
</dict>
</plist>